
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//bg images
//$backgroundImage: url('../img/bg.jpg');
//colors
$backgroundColor: black;
$color2: #815AE5;
$color3: #4B13D9;
$color4: #A1D913;
$color5: #f5f5f5;
$color6: #B4AFC9;
$color7: #CDC9DB;
$color8: #E6E4ED;
